<main class="main">
  <div class="content">

    <div class="text-3xl font-bold max-w-sm mx-auto m-10">
      <h1 class="w-full text-center">Debian Homelab</h1>
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>

    <div class="text-xl max-w-sm mx-auto m-7">
      <div class="pill-group flex flex-col items-center gap-4">
        @for (item of [
          { title: 'Status Checker',  route: '/status',         external: false },
          { title: 'Overleaf',        route: envi.overleafUrl,  external: true },
          { title: 'Jellyfin',        route: envi.jellyfinUrl,  external: true },
          { title: 'Kavita',          route: envi.kavitaUrl,    external: true },
          { title: 'Memos',           route: envi.memosUrl,     external: true },
          { title: 'AFFiNe',          route: envi.affineUrl,    external: true },
          { title: 'Collapse',        route: '/',               external: false},
        ]; track item.title) {

          <!-- Interno-->
          <a
            *ngIf="!item.external"
            class="pill hover:bg-red-300 rounded-xl px-6 py-2 text-center w-full border"
            [routerLink]="item.route"
            rel="noopener"
          >
            <span>{{ item.title }}</span>
          </a>
          <!--Externo-->
          <a
            *ngIf="item.external"
            class="pill hover:bg-red-300 rounded-xl px-6 py-2 text-center w-full border"
            [href]="item.route"
            target="_blank"
            rel="noopener"
          >
            <span>{{ item.title }}</span>
          </a>
        }
      </div>
    </div>

  </div>
</main>


<router-outlet />
